{{ define "page_title" }}{{ end }}

{{ define "extra_css" }}
<link href="/css/eatabattery.css" rel="stylesheet">
<link href="/css/carouselHero.css" rel="stylesheet">
{{ end }}

{{ define "main" }}
<div class="container" style="padding:60px 0 0 0;border:0;">
  <div class="row">
    <div class="col-md-2 left"></div>
    <div class="col-md-8 middle" align="center">
      <div class="img-responsive" style="max-width:100%;min-width:100px;">
        <img class="img-responsive" src="/img/pickle.gif" alt="PJ The Party Pickle">
        <img class="img-responsive" src="/img/grave.jpg" alt="RIP">
      </div>
      <div class="container" align="center" style="width:2%;">
        <iframe width="25" height="25" src="https://www.youtube.com/embed/Z-FPimCmbX8" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-2 right"></div>
  </div>
</div>
{{ end }}
