<div class="col-md-3 right">
  <div class="panel panel-default">
    <div class="panel-body">

      <h3>Recent Posts</h3>
      <ul class="list-unstyled recent-posts">
        {{ $blog := where .Site.RegularPages "Section" "blog" }}
        {{ range first 5 $blog.ByDate.Reverse }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>

      <h3>Archive</h3>
      {{ range (.Site.GetPage "section" "blog").Pages.ByDate.Reverse.GroupByDate "2006" }}
        <h6>{{ .Key }}</h6>
        <ul class="list-unstyled">
          {{ range .Pages.GroupByDate "January" }}
          <li><a href="#">{{ .Key }}</a> ({{ len .Pages }})</li>
          {{ end }}
        </ul>
      {{ end }}

      <h3>Categories</h3>
      <ul class="list-unstyled">
        {{ range .Site.Taxonomies.categories.ByCount }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
        {{ end }}
      </ul>

      <h3>Authors</h3>
      <ul class="list-unstyled">
        {{ range .Site.Taxonomies.authors.ByCount }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
        {{ end }}
      </ul>

      <h3>Feeds</h3>
      <a href="/blog/index.xml">RSS</a> /
      <a href="/blog/index.xml">Atom</a>

    </div>
  </div>
</div>
