{{ define "page_title" }}Detective Buck Passer{{ end }}

{{ define "main" }}
<div class="container" style="padding:60px 0 0 0;border:0;">
  <div class="container">
    <p>The finest in modern text based adventure games! The vivid colors! The action! All in your imagination!</p>
    <p><a href="https://snhobbs.github.io/DetectiveBuckPasser/">Find it now on Github!</a></p>
    <h3>Play in the Browser Below — Virus Free! No Trojans!</h3>
    <iframe
      src="https://snhobbs.github.io/DetectiveBuckPasser/"
      width="100%"
      height="600"
      frameborder="0"
      style="border: 1px solid #ccc; margin-top: 20px;">
    </iframe>
  </div>
</div>
{{ end }}
