<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Soul 4 Cash</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/soul4cash/style.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/soul4cash/script.js"></script>
</head>
<body>
  <header class="row full">
    <div class="row">
      <div class="col-md-2">
        <a id="logo" style="font-size:15px;color:white;" href="/">Back to eatabattery</a>
      </div>
      <div class="col-md-2">
        <a id="logo" style="font-size:30px;color:gold;font-weight:bolder" href="#">Soul4Cash.com</a>
      </div>
      <div class="head-right desktop">
        <a id="track-link" href="#">Secure Pack Tracking</a>
        <div class="clearfix"></div>
        <div class="phone clearfix">
          For Customer Service call<br>
          <span class="number">1-BEE-LZE-BUB6</span>
        </div>
      </div>
      <img class="hicon" src="/img/soul4cash/risk-free-icon.png" alt="">
      <img class="hicon" src="/img/soul4cash/price-match-icon.png" alt="">
      <div id="mnav-trigger" class="mobile"></div>
      <nav id="mobile-nav">
        <ul>
          <li><a href="#">Secure Pack Tracking</a></li>
          <li><a href="#">What We Buy</a></li>
          <li><a href="#">Testimonials</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="top-hero" class="row">
    <div id="main-messaging" class="col six desktop">
      <div id="start-here">
        <img src="/img/soul4cash/start-here.png" alt="Start Here">
      </div>
      <h1>Sell Your Soul<br>
        <span class="big">GET</span><br>
        <span class="big red">CASH</span>
      </h1>
      <ul class="list">
        <li>Fill out the Form</li>
        <li>Mail It In</li>
        <li><strong>GET PAID</strong></li>
      </ul>
      <div id="starburst"></div>
    </div>

    <div id="primary-form" class="col six gradient">
      <h1>Please send me my <span>FREE</span> Secure Pack. soul4cash.com</h1>
      <form id="cfg-lead">
        <div id="pf-form-error"></div>
        <div class="input-wrap">
          <label class="col three" for="pf-fname"><span class="red">*</span>FIRST NAME</label>
          <input id="pf-fname" class="col nine" name="first_name" maxlength="40" required type="text">
        </div>
        <div class="input-wrap">
          <label class="col three" for="pf-lname"><span class="red">*</span>LAST NAME</label>
          <input id="pf-lname" class="col nine" name="last_name" maxlength="40" required type="text">
        </div>
        <div class="input-wrap">
          <label class="col three" for="pf-address"><span class="red">*</span>ADDRESS</label>
          <input id="pf-address" class="col nine" name="address" maxlength="50" required type="text">
        </div>
        <div class="input-wrap">
          <label class="col three" for="pf-city"><span class="red">*</span>CITY</label>
          <input id="pf-city" class="col nine" name="city" maxlength="50" required type="text">
        </div>
        <div class="input-wrap">
          <label class="col three" for="pf-state"><span class="red">*</span>STATE</label>
          <input id="pf-state" class="col nine" name="state" maxlength="50" required type="text">
        </div>
        <div class="input-wrap">
          <label class="col three" for="pf-zip"><span class="red">*</span>ZIP</label>
          <input id="pf-zip" class="col nine" name="zip" maxlength="20" required type="text">
        </div>
        <div class="input-wrap">
          <label class="col three" for="pf-phone"><span class="red">*</span>PHONE</label>
          <input id="pf-phone" class="col nine" name="phone" maxlength="50" required type="tel">
        </div>
        <div class="input-wrap">
          <label class="col three" for="pf-email"><span class="red">*</span>EMAIL</label>
          <input id="pf-email" class="col nine" name="email" maxlength="64" required type="email">
        </div>
        <div class="input-wrap">
          <label class="col three" for="pf-promo">PROMO CODE</label>
          <input id="pf-promo" class="col nine" name="bonus_offer" maxlength="25" type="text">
        </div>
        <div class="input-wrap checkbox col nine">
          <input class="col one" id="pf-term-check" name="terms-check" value="" type="checkbox">
          <label class="checkbox-label col eleven" for="pf-term-check">
            I have read and agree to all <a href="#">Terms and Conditions</a>.
            I declare, under penalty of perjury, and eternal damnation that this information supplied by
            me is true and correct, I am the lawful owner of the soul in question, and have absolute authority to sell it.
          </label>
        </div>
        <div class="input-wrap checkbox col">
          <input class="col one" id="pf-offer-check" name="offer-check" value="" type="checkbox">
          <label class="checkbox-label col" for="pf-offer-check">
            YES! I'd like to be informed of other offers and products from Soul4Cash.com and its partners.
          </label>
        </div>
        <div class="input-wrap">
          <button type="submit" id="pf-form-submit">Send my <span>FREE</span> Pack now!<br><span id="loading"></span></button>
        </div>
      </form>
    </div>
  </section>

  <section id="video-panel" class="row full">
    <div class="row">
      <h1>Sell your old <span>soul, morality,</span> and <span>capacity for love.</span></h1>
      <div class="col six right flush-right">
        <iframe width="100%" height="260" src="https://www.youtube.com/embed/oMWIUJwzqSo" frameborder="0" allowfullscreen></iframe>
        <p>Watch this video to find out more!</p>
      </div>
      <div class="col six flush-left">
        <p>Do you have an old dusty immortal soul just lying around unused in your home?
          Millions of Americans do! Maybe it's old or broken. Maybe it was a gift or an
          inheritance from a loved one. And even if it has sentimental value for
          you, you're not likely to ever actually use it again or listen to your faulty moral compass ANYWAY.
          Wouldn't you like to get cash for these items?</p>
        <p>Soul4Cash.com is the original way to sell your soul online.
          We'll even give you CASH for it. Our process is Secure. Discreet. Fast. Eternal.</p>
      </div>
    </div>
  </section>

  <section id="short-quotes" class="row full desktop">
    <div class="row">
      <blockquote class="col four flush-left">
        "Soul4Cash.com paid for my Christmas this year!"<br>
        <span class="name">- Alix V.B., Our Customer</span>
      </blockquote>
      <blockquote class="col four">
        "I put it in my savings and it almost fills the void that it created in the first place!"<br>
        <span class="name">- Ann C., Our Customer</span>
      </blockquote>
      <blockquote class="col four flush-right">
        "I love extra cash between paychecks, regardless of the ever-lasting cost."<br>
        <span class="name">-Chris C., Our Customer</span>
      </blockquote>
    </div>
  </section>

  <section id="payment-process" class="row full desktop">
    <div class="row">
      <div id="pp-text" class="col nine flush-left">
        <h1>More than 1 million payments made!</h1>
        <div class="col nine flush-left">
          <p>As the original and most respected online soul purchaser in the business,
            Soul4Cash.com knows that selling your immortal soul can be a personal – and often very emotional – decision.
            So you need to know you're making the right choice.</p>
          <h2>OUR PROCESS IS</h2>
          <ul class="checkmarks">
            <li><strong>Secure</strong> — Secure and compliant</li>
            <li><strong>Private</strong> — Discreet mail-in transaction</li>
            <li><strong>Fast</strong> — Get paid in days</li>
            <li><strong>Best Offer</strong> — Price Match Guarantee</li>
          </ul>
          <a href="#primary-form" class="form-link">Send my <span>FREE</span> Pack now!</a>
          <div class="guarantee-box col six flush-left">
            <img src="/img/soul4cash/price-match-icon.png" alt="Price match" width="90" height="90">
            <div class="inner-box">
              <p>Price Match Guarantee for all other Demonic, Nationally Televised Buyers.</p>
            </div>
          </div>
          <div class="guarantee-box col six flush-right">
            <img src="/img/soul4cash/risk-free-icon.png" alt="Risk Free" width="90" height="90">
            <div class="inner-box">
              <p>Return the check or call within 10 days and we'll return your items free of charge.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>

  <section id="we-buy" class="row desktop">
    <h1>What kinds of items can you sell?</h1>
    <div class="col six flush-right">
      <ul class="buy-list list">
        <li>We buy SOULS</li>
        <li>We buy MORALS</li>
        <li>We buy ETHICS</li>
        <li>We buy PURPOSE</li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <h1 class="btm">Keep scrolling for a special offer…</h1>
  </section>

  <section id="faqs" class="row full">
    <div class="row">
      <h1>Soul4Cash.com: The right choice.</h1>
      <ul>
        <li>
          <strong>Q: How do you analyze the quality of my soul?</strong>
          <p>A: Soul4Cash.com uses – not 1 – but 3 state-of-the-art tests to assess the value of your life force:
            electronic analysis, emotional trauma, and x-ray fluorescence testing.</p>
        </li>
        <li>
          <strong>Q: How is submitting my items "risk free"?</strong>
          <p>A: If you change your mind about selling your soul, simply contact us and return your check within 10 days of
            receiving the offer. Once we have received your check back, we'll be happy to return your soul with only minor singes.</p>
        </li>
        <li>
          <strong>Q: How will you keep my items secure?</strong>
          <p>A: Soul4Cash.com stores your spirit in a vault within a locked room, inside a secure area protected by
            bulletproof glass and a host of guys in red tights.
            The entire secure area is monitored by video 24/7/365 for eternity. It will never get out.</p>
        </li>
      </ul>
    </div>

    <div id="secure-pack" class="row">
      <h2 class="col seven">Here's what's in your FREE SECURE PACK:</h2>
      <div class="clearfix"></div>
      <hr>
      <div class="col five desktop">
        <img src="/img/soul4cash/secure-pack.png" alt="Get your free Secure Pack today!">
        <p class="center">FREE SECURE PACK</p>
      </div>
      <div class="col seven">
        <ul class="list">
          <li>A sealable plastic bag to protect your spirit against environmental and other damage.</li>
          <li>A postage-paid, priority shipping envelope, pre-coded to computer-match your name with your items.</li>
          <li>A complete description of the Soul4Cash assessment process.</li>
        </ul>
        <p>Just drop it in the mail. We'll protect your property and take care of the rest!</p>
        <a href="#primary-form" class="form-link desktop">Send my <span>FREE</span> Pack now!</a>
      </div>
    </div>
  </section>

  <section id="special-offer" class="row">
    <h1>Sell your soul <span class="red">GET CASH + $100 Cash Bonus!</span></h1>
    <ul class="list horz clearfix">
      <li>Fill out the Form</li>
      <li>Mail Your Soul</li>
      <li><strong>GET PAID</strong></li>
    </ul>
    <img class="special-offer-img" src="/img/soul4cash/hundred-dollar-bill.jpg" alt="">
    <a href="#primary-form" class="form-link">Send my <span>FREE</span> Pack now!</a>
  </section>

  <footer class="row full">
    <div class="row">
      <nav>
        <ul>
          <li><a href="#">What Soul4Cash Buys</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">The Process</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
        </ul>
      </nav>
      <div class="clearfix"></div>
      <p><span class="number">1-BEE-LZE-BUB6</span><br>Monday – Friday, 9:00am – 4:30pm EST</p>
      <p>666 Sulfur Corporate Drive, Flaming Inferno, 8th Circle</p>
      <p>Original Soul4Cash Site<sup>®</sup></p>
    </div>
  </footer>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109318945-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-109318945-1');
  </script>
</body>
</html>
